<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div class="buttons">
        <button><a href="./index.html">Home</a></button>
        <button><a href="./about.html">About</a></button>
        <button><a href="./media.html">Media</a></button>
    </div>
    <h1>Mike Dean</h1>
    <div class="media">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/y3QgXLLX_Rs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/KB5idPQqV9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <script src="./scripts/script.js"></script>
</body>
</html>